page-add-cash {
    .toolbar-md-top .bar-button-clear-md, .toolbar-md-top .bar-button-default-md, .toolbar-md-top .bar-button-outline-md, .toolbar-md-top .toolbar-title-md {
        color: #fff;
        font-size: 14px;
    }
    .label-md {
        margin: 8px 10px 7px 10px;
        font-size: 12px;
    }
 
    img {
        width: 5%;
        height: 60%;
    }
    .button-md-whatsapp {
        color: #fff;
        background-color: #158b0f;
        height: 40px;
        width: 200px;
        margin:10px auto; 
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        display: block;
    }


    .current-block{
        margin: 56px 0 0 0;
        padding: 16px 0;
        min-width: 100%;
        width: 100%;
        background: #ddedfd;
        color: #646363;   
        font-size: 25px;
        font-weight: bold;
    }
    .current-block img{
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    .current-block p{
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }


    .text-add-cash{
        color: #646363;   
        font-size: 20px;
        font-weight: bold; 
        text-align: center;
    }
    .card-cash{
        padding: 20px;
        width: 90%;
        background-color: #f8f8f8;
        box-shadow: 0px 4px 4px #909090;
    }
    .card-cash-amount{
        color: #4e79a4;   
        font-size: 12px;
        font-weight: bold; 
        text-align: left;
        text-transform: uppercase;
        display: block;
        width: 100%;
    }

    .amount-add{
        margin: 0px auto 20px auto;
        padding: 20px 20px;
        width: 100%;
        height: 68px;
        background-color: #efefef; 
    }
    .amount-add img{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 5px;
    }
    .amount-add p{
        width: 80%;
        font-size: 17px;
        color: #c61d23;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        line-height: normal;
        font-weight: bold;
    }
    .amount-add .amount-add-box{
        width: 33.33%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #c8c8c8;
    }
    .amount-add .amount-add-box.last{border-right: 0px solid #c8c8c8;}
    .amount-add .amount-add-box img{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 0px;
      }
    .amount-add .amount-add-box p{
        width: 80%;
        font-size: 17px;
        color: #646363;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        line-height: normal;
        font-weight: bold;
    }
    @media screen and (max-width: 768px) {

    }
   
   
    @media screen and (max-width: 480px) {
        .current-block{ margin-top: 0px; font-size: 18px;}
       .card-cash{ width: 96%;}
       .amount-add{height: 54px;}
       .amount-add .amount-add-box p{ font-size: 20px;}
       }
     .amount-add .amount-add-box img {
        width: 10px;
        height: 13px;
        margin-right: 0px;
    }
    .amount-add .amount-add-box p {
        font-size: 13px;
    }
}

